/* Estilos generales */
/* Asegura que el contenido no se desborde horizontalmente */
body {
    font-family: 'Georgia', serif;
    font-weight: 200;
    color: #5a5a5a;
    margin: 0;
    padding: 0;
    background-image: url('fotos/fondoli.PNG');
    background-repeat: repeat;
    background-size: 65%;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

/* Aplica box-sizing a todos los elementos para un mejor control del ancho */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Encabezado */
header {
    position: relative;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 2px solid #b59d89;
    z-index: 1;
}

/* Texto del encabezado */
.texto-header {
    position: relative;
    z-index: 1;
    color: black; /* Efecto dorado */
    font-weight: 200; /* Peso más delgado */
}
/* Texto del encabezado */
.texheader {
    position: relative;
    z-index: 1;
    color: black; /* Efecto dorado */
    font-weight: 100; /* Peso más delgado */
     font-size: 1.5em;
}

/* Título con la fuente Allura */
.titulo-allura {
    font-family: 'Allura', cursive; /* Fuente Allura solo para este título */
    font-size: 4em; /* Aumenta el tamaño del título */
    margin: 0;
    padding: 10px;
    font-weight: 200; /* Mantiene el peso original de Allura */
}

/* Imagen con el recorte en arco invertido */
.imagen-header {
    position: relative;
    overflow: hidden;
}

.imagen-header img {
    width: 100%;
    height: auto;
   
    transition: transform 0.3s;
}

.imagen-header img:hover {
    transform: scale(1.05); /* Efecto de zoom al pasar el ratón */
}

/* Secciones generales */
section {
    padding: 40px 20px;
    max-width: 900px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.2); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    position: relative;
    z-index: 1;
    transition: transform 0.3s;
    color: black;
}

section:hover {
    transform: translateY(-5px);
}

/* Estilos para el texto de los títulos */
h2 {
    font-size: 1em;
    margin-bottom: 10px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid #b59d89;
    padding-bottom: 10px;
    font-weight: 300; /* Peso más delgado */
}

/* Listas */
ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-weight: 300; /* Peso más delgado */
}

li {
    font-size: 1.5em;
    margin: 10px 0;
    position: relative;
    font-weight: 300; /* Peso más delgado */
}

li::before {
    content: "•";
    color: #b59d89;
    font-size: 1.5em;
    position: absolute;
    left: -25px;
}

/* Formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

input, select, button {
    padding: 15px;
    font-size: 1.2em;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border 0.3s;
    font-weight: 300; /* Peso más delgado */
}

input:focus, select:focus {
    border: 2px solid #b59d89;
    outline: none;
}

button {
    background-color: #b59d89;
    color: white;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #a08976;
    transform: translateY(-2px);
}

/* Botones */
.boton-regalos, .boton-maps {
    display: inline-block;
    padding: 15px 30px;
    background-color: #b59d89;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
    font-weight: 300; /* Peso más delgado */
}

.boton-regalos:hover, .boton-maps:hover {
    background-color: #a08976;
    transform: translateY(-2px);
}

/* Imágenes */
.seccion-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.seccion-img:hover {
    transform: scale(1.05);
}

/* Contador */
#contador {
    font-size: 1.5em;
    font-weight: bold;
    color: #b59d89;
    text-align: center;
    padding: 10px;
    border: 3px solid #b59d89;
    border-radius: 10px;
    display: inline-block;
    background-color: #fff;
    margin: 20px auto;
}

/* Nombres de los novios */
.nombres-novios h1 {
    font-family: 'Allura', cursive;
    font-size: 3.5em;
    color: darkgray;
    text-align: center;
    margin: 20px 0;
    font-weight: normal; /* Mantiene el peso original de Allura */
}

/* Frase */
.frase h2 {
    font-size: 1.2em;
    text-align: center;
    margin: 20px 0;
    color: black;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    font-weight: 300; /* Peso más delgado */
}

/* Estilos para la sección de dedicatoria */
#dedicatoria {
    text-align: center;
    margin: 40px auto;
    padding: 40px 20px;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    color: black;
}

/* Contenedor para centrar y ajustar el nombre */
.contenedor-nombre {
    display: flex;
    justify-content: center; /* Centra el texto horizontalmente */
    align-items: center;
    overflow: hidden; /* Evita que el contenido se desborde */
}

/* Estilo del nombre en cursiva */
/* Estilo del nombre en cursiva */
.nombre {
    font-family: 'Allura', cursive;
    font-size: 2.4em;
    margin-bottom: 30px;
    color: black;
    font-weight: normal;
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
    margin: 0.5px 0; /* Reduce el espacio vertical entre los nombres */
    line-height: 1; /* Ajusta el espacio entre líneas */
}

/* Asegura que el contenedor principal no se desborde */
.contenedor-principal {
    max-width: 100vw; /* Limita el ancho al 100% de la vista */
    overflow-x: hidden; /* Evita cualquier desbordamiento horizontal */
    padding: 0 10px; /* Agrega padding para que el contenido no toque los bordes */
}

/* Ajuste del tamaño para pantallas pequeñas */
@media (max-width: 600px) { /* Ajusta el ancho según el tamaño deseado */
    .nombre {
        font-size: 2em; /* Reduce ligeramente el tamaño en móviles */
    }
}



/* Imagen superior */
.imagen-superior {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}

/* Imágenes inferiores */
.imagen-inferior {
    width: 20%;
    height: auto;
    margin: 20px auto;
    display: block;
}

/* Estilos para la sección de padres */
#padres {
    text-align: center;
    margin: 40px auto;
    padding: 40px 20px;
    max-width: 900px;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    color: black;
}

/* Estilos para la imagen */
.imagen {
    text-align: center;
    margin-bottom: 20px;
}

.seccion-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
}

.seccion-img:hover {
    transform: scale(1.05);
}

#playPauseBtn {
    font-size: 1.5em;        /* Tamaño del símbolo Play */
    width: 60px;             /* Ancho igual al alto para mantener el círculo */
    height: 60px;            /* Alto igual al ancho para mantener el círculo */
    padding: 0;              /* Elimina padding adicional */
    background-color: white; /* Color de fondo del botón */
    border: none;            /* Sin borde adicional */
    cursor: pointer;         /* Cambia el cursor al pasar el ratón */
    outline: none;           /* Sin borde de enfoque */
    color: #5a5a5a;          /* Color del símbolo */
    border-radius: 50%;      /* Convierte en círculo perfecto */
    display: flex;           /* Centra el símbolo Play */
    align-items: center;     /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    transition: transform 0.2s ease; /* Animación */
}


#playPauseBtn:hover {
    transform: scale(1.1); /* Aumenta ligeramente el tamaño al pasar el mouse */
}


audio {
    display: none;
}

.iframe-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.corner-image {
    position: absolute;
    width: 100px; /* Ajusta el tamaño según tus necesidades */
    height: auto;
}

.corner-left {
    top: 10px; /* Ajusta el valor para posicionar */
    left: 10px;
}

.corner-right {
    top: 10px;
    right: 10px;
}

.contenedor-boton {
    display: flex;
    justify-content: center;
    margin-top: 1px; /* Ajusta según el espacio que desees arriba */
}

